.list-of-movies {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-between;
	width: 100%;
}

.movie {
	display: flex;
	flex-direction: column;
	width: 240px;
	padding: 8px;
	margin-bottom: 16px;
	margin-right: 16px;
	background-color: #fff;
	box-shadow: 1px 0 13px 0 rgba(0,0,0,.08);
}

.movie__title {
	border-bottom: solid 1px aquamarine;
}

.movie__date,
.movie__hall {
	font-size: 12px;
	margin: 8px 0;
}